<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-3 text-center">
      <span class="fa-stack fa-lg fa-4x">
  	  	<i class="fa fa-circle fa-stack-2x"></i>
  	  	<i class="fa fa-cog fa-stack-1x fa-inverse fa-spin"></i>
	  </span>
      <!--<img class="img-circle" src="http://placehold.it/140x140">-->
      <h2>Custom Design</h2>
      <p>You can select one of our highly customizable premade designs or send us your own design, and we will get the job done.</p>
      <p><a class="btn btn-default" href="#">View Features »</a></p>
    </div>
    <div class="col-md-3 text-center">
      <span class="fa-stack fa-lg fa-4x">
  	    <i class="fa fa-circle fa-stack-2x"></i>
  	    <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
	  </span>
      <!--<img class="img-circle" src="http://placehold.it/140x140">-->
      <h2>Quality Parts</h2>
      <p>Made to withstand years of abuse, the parts selected to make these pedalboards are high quality and durable, that is our guarantee. </p>
      <p><a class="btn btn-default" href="#">View Features »</a></p>
    </div>
    <div class="col-md-3 text-center">
      <span class="fa-stack fa-lg fa-4x">
  	    <i class="fa fa-circle fa-stack-2x"></i>
  	    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
	  </span>
      <!--<img class="img-circle" src="http://placehold.it/140x140">-->
      <h2>Reasonably Priced</h2>
      <p>We do our best to keep the price down while maintaining a high quality product.</p>
      <p><a class="btn btn-default" href="#">View Features »</a></p>
    </div>
    <div class="col-md-3 text-center">
      <span class="fa-stack fa-lg fa-4x">
  	  	<i class="fa fa-circle fa-stack-2x"></i>
  	  	<i class="fa fa-star-o fa-stack-1x fa-inverse fa-spin"></i>
	  </span>
      <!--<img class="img-circle" src="http://placehold.it/140x140">-->
      <h2>100% Satisfaction%</h2>
      <p>If you are not 100% satisfied with your purchase we will do everything we can to meet your needs, or we will return your money.</p>
      <p><a class="btn btn-default" href="#">View Features »</a></p>
    </div>
  </div><!-- /.row -->
</div>
<br />
<br />

<!--Horizontal Bar with Statement, bar stretches browser, text contained in marketing container-->
<div class="statementBar">
	<!-- Wrap the rest of the page in another container to center all the content. -->
	<div class="container marketing">
		<p class="statement">Perfect Pedalboard for Organizing all of Your Pedals</p>
	</div>
</div>

<!--Feature photos that extend the width of the page -->
<div class="row featurePhotoBar">
    <div class="col-md-3 text-center nopadding">
      <%= image_tag "pedalboardOak.jpg" %>
    </div>
    <div class="col-md-3 text-center nopadding">
      <%= image_tag "pedalboardHandle.jpg" %>
    </div>
    <div class="col-md-3 text-center nopadding">
      <%= image_tag "pedalboardJoint.jpg" %>
    </div>
    <div class="col-md-3 text-center nopadding">
      <%= image_tag "pedalboardInput.jpg" %>
    </div>
</div><!-- /.row -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
	
  <br /><br />
  <a name="features"></a>
  <h1 class="featureHeader">Features at a Glance</h1>
  <br />
  <!-- Start Brief Features-->
  <div class="row">
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-leaf fa-4x"><h3>Oak Plywood and Premium Soft Woods</h3></i>
      <p>We use only the best wood we can find to ensure a long lasting and good looking product.</p>
    </div>
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-scissors fa-4x"><h3>Hand Made</h3></i>
      <p>Our pedalboards are hand made to your specification so that you can get what you need.  Dowel joints are used to ensure strong and hidden joints.  Fully finished with stain and clear coat to increase the durability and looks.</p>
    </div>
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-th fa-4x"><h3>Removable Cover</h3></i>
      <p>Stainless steel quick release hinges are used so that the cover can easily be removed when in use.</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-anchor fa-4x"><h3>Metal Latches</h3></i>
      <p>Durable metal latches are used so opening and closing the case is as easy as it should be.</p>
    </div>
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-shield fa-4x"><h3>Steel Handles</h3></i>
      <p>Handles are placed on the top of the pedalboard so that it can be moved around easily when in use.</p>
    </div>
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-cog fa-4x"><h3>Folding Front Handle</h3></i>
      <p>A springed handle is placed on the front of the case for easy carrying, and is out of the way when not.</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-briefcase fa-4x"><h3>Sliding Door</h3></i>
      <p>To protect and provide easy access to the organizational compartment, a sliding door is installed on the bottom.</p>
    </div>
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-picture-o fa-4x"><h3>Angled Board</h3></i>
      <p>The pedalboard is inclined to provide easy access to all of your pedals when in use.</p>
    </div>
    <div class="col-md-4 text-center nopadding">
      <i class="fa fa-bars fa-4x"><h3>Quality Inputs</h3></i>
      <p>1/4" Neutrik inputs are used to make sure your cables can't be accidently pulled out and to provide a good connection.</p>
    </div>
  </div>
  <!-- End Brief Features-->
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag "pedalboardOak.jpg", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">Oak Plywood and <span class="text-muted">Premium Soft Woods</span></h2>
    <p class="lead">We use only the best wood we can find to ensure a long lasting and good looking product.  Our professional pedalboards are made with all hardwoods.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag "pedalboardJoint.jpg", class: "featurette-image img-circle pull-left" %>
    <h2 class="featurette-heading">Hand <span class="text-muted">Made</span></h2>
    <p class="lead">Our pedalboards are hand made to your specification so that you can get what you need. Dowel joints are used to ensure strong and hidden joints. Fully finished with stain and clear coat to increase the durability and looks.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag "pedalboardBackHinge.png", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">Removable <span class="text-muted">Cover</span></h2>
    <p class="lead">Stainless steel quick release hinges are used so that the cover can easily be removed when in use.</p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette">
    <%= image_tag "pedalboardLatch.png", class: "featurette-image img-circle pull-left" %>
    <h2 class="featurette-heading">Metal <span class="text-muted">Latches</span></h2>
    <p class="lead">Durable metal latches are used so opening and closing the case is as easy as it should be.</p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette">
    <%= image_tag "pedalboardHandle.jpg", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">Steel <span class="text-muted">Handles</span></h2>
    <p class="lead">Handles are placed on the top of the pedalboard so that it can be moved around easily when in use.</p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette">
    <%= image_tag "pedalboardFrontHandle.jpg", class: "featurette-image img-circle pull-left" %>
    <h2 class="featurette-heading">Folding Front <span class="text-muted">Handle</span></h2>
    <p class="lead">A springed handle is placed on the front of the case for easy carrying, and is out of the way when not.</p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette">
    <%= image_tag "pedalboardBackside.png", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">Sliding <span class="text-muted">Door</span></h2>
    <p class="lead">To protect and provide easy access to the organizational compartment, a sliding door is installed on the bottom.</p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette">
    <%= image_tag "pedalboardAngle.png", class: "featurette-image img-circle pull-left" %>
    <h2 class="featurette-heading">Angled <span class="text-muted">Board</span></h2>
    <p class="lead">The pedalboard is inclined to provide easy access to all of your pedals when in use.</p>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="featurette">
    <%= image_tag "pedalboardInput.jpg", class: "featurette-image img-circle pull-right" %>
    <h2 class="featurette-heading">Quality <span class="text-muted">Inputs</span></h2>
    <p class="lead">1/4" Neutrik inputs are used to make sure your cables can't be accidently pulled out and to provide a good connection</p>
  </div>

  <!-- /END THE FEATURETTES -->
</div>  
  <br /><br />
<!--Horizontal Bar with Statement, bar stretches browser, text contained in marketing container-->
<div class="statementBar">
	<!-- Wrap the rest of the page in another container to center all the content. -->
	<div class="container marketing">
		<p class="statement">We are a Multifaceted Businesss</p>
	</div>
</div>

<div class="container marketing">
	<br />
	<a name="aboutUs"></a>
	<h1 class="featureHeader">Our History</h1>
	<br />
    <ul class="nav nav-tabs">
    	<div class="row">
    		<div class="col-md-4 text-center">
    			<li><a href="#2013" data-toggle="pill"><h3>2012</h3></a></li>
    		</div>
    	
    		<div class="col-md-4 text-center">
    			<li><a href="#2013" data-toggle="pill"><h3>2013</h3></a></li>
    		</div>
    	
    		<div class="col-md-4 text-center">
    			<li><a href="#2014" data-toggle="pill"><h3>2014</h3></a></li>
    		</div>
    	</div>
    </ul>
    
    <div class="tab-content">
		<div class="tab-pane active" id="2012">
			<br />
			<div class="row">
    			<div class="col-md-4">
    				<h4>The Start</h4>
					<p>Rising Standard started out as a web development business, where our primary focus was websites for small businesses and professionals, web applications using Zend Framework, Ruby on Rails, and Wordpress, and mobile application development for android devices.</p>
    			</div>
    			<div class="col-md-4">
    				<h4>Primary Skills</h4>
					<p><u>Web Design and Development</u><br>
                    HTML/CSS, PHP, Ruby, Java, JavaScript, Wordpress, Zend Framework, Rails, Twitter Bootstrap, jQuery<br><br>
                    <u>Biochemistry</u> 
                    Protein Purification, FPLC, UV Spec, Profinia, Protein Crystallography, Mosquito, PCR, Gel Electrophoresis, DNA Purification, Western Blot, Lab Management, DNA Cloning, Bacterial Transformation, DH5-alpha and BL21 growth</p>
    			</div>
    			<div class="col-md-4">
    				<img src="http://placehold.it/500x500" alt="">
    			</div>
    		</div>
		</div>
		<div class="tab-pane" id="2013">
			<div class="row">
    			<div class="col-md-4">
    				<img src="http://placehold.it/500x500" alt="">
    			</div>
    			<div class="col-md-8">
    				<h4>One Year Later</h4>
					<p>I have since merged away from a true business and started freelance web design and development.  This has allowed me to travel and persue my passion for rock climbing.</p>
    			</div>
    		</div>
		</div>
		<div class="tab-pane" id="2014">
			<div class="row">
    			<div class="col-md-8">
    				<h4>Two Years Later</h4>
					<p>I have always enjoyed playing guitar recreationally, so on the side I make custom pedalboards for those on a budget.  </p>
    			</div>
    			<div class="col-md-4">
    				<img src="http://placehold.it/500x500" alt="">
    			</div>
    		</div>
		</div>
	</div>
</div>